<br>
<div id="cadastro" class="text-center">
  <h1><b>Cadastro</b></h1>
</div>
<br>
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': exibirModal}" style="display: block;" *ngIf="exibirModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" aria-label="Close" (click)="exibirModal = false">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <p>{{ mensagem }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-modal" (click)="exibirModal = false">Fechar</button>
        </div>
      </div>
    </div>
  </div>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h3>Login</h3>
            <div class="form-group"><input type="email" [(ngModel)]="clienteLogin.email" placeholder="Email" class="form-control"></div>
            <div class="form-group"><input type="password" [(ngModel)]="clienteLogin.senha" placeholder="Senha" class="form-control"></div>
            <div>
                <button (click)="login()" class="btn btn-success">Login</button>
            </div>
        </div>
        <div class="col-6">
            <h3>Cadastre-se</h3>
            <div class="form-group"><input type="text" [(ngModel)]="clienteCadastro.nome" 
              placeholder="Nome completo" class="form-control"></div>
            <div class="form-group"><input type="email" [(ngModel)]="clienteCadastro.email"
              placeholder="Email"  class="form-control"></div>
            <div class="form-group"><input type="text" [(ngModel)]="clienteCadastro.telefone"
              placeholder="Celular" class="form-control"></div>
            <div class="form-group"><input type="text" [(ngModel)]="clienteCadastro.cpf"
              placeholder="CPF" class="form-control"></div>
            <div class="form-group">  <input type="text" [(ngModel)]="clienteCadastro.cep"
              placeholder="CEP" class="form-control"></div>
            <div class="form-group"><input type="text" [(ngModel)]="clienteCadastro.logradouro"
              placeholder="Logradouro" class="form-control"></div>
            <div class="form-group"><input type="text" [(ngModel)]="clienteCadastro.numero"
              placeholder="Numero" class="form-control"></div>
            <div class="form-group"><input type="text" [(ngModel)]="clienteCadastro.bairro"
              placeholder="Bairro" class="form-control"></div>
            <div class="form-group"><input type="text" [(ngModel)]="clienteCadastro.cidade"
              placeholder="Cidade" class="form-control"></div>
              <div class="form-group"><input type="text" [(ngModel)]="clienteCadastro.complemento"
                placeholder="Complemento" class="form-control"></div>
            <div class="form-group"><input type="text" [(ngModel)]="clienteCadastro.estado"
              placeholder="Estado" class="form-control"></div>
            <div class="form-group"><input type="password" [(ngModel)]="clienteCadastro.senha"
              placeholder="Senha" class="form-control"></div>
            <div class="text-end">
                <button (click)="gravar()" class="btn btn-success">Salvar</button>
            </div>
        </div>
    </div>
    <br>
</div>

