
.table {
    margin-bottom: 1rem;
    color: #212529;
    background-color: #fff; /* Fundo branco para contraste */
    border-radius: 0.75rem; /* Bordas arredondadas */
    overflow: hidden; /* Para as bordas arredondadas das tabelas */
} 
.table thead th {
    background-color: #f8f9fa; /* Cor de fundo sutil para cabeçalho */
    font-weight: 700; /* Texto em negrito para cabeçalho */
    letter-spacing: 0.5px; /* Espaçamento de letra para cabeçalho */
    font-size: large;
}
.table tbody tr {
    border-bottom: 1px solid #e9ecef; /* Linha divisória sutil */
}
#table-text-center{
    text-align: center; /* Alinhamento centralizado para coluna de ação */
}
.btn-excluir {
    padding: 0.375rem; /* Preenchimento uniforme */
    border: none; /* Sem borda para o botão */
    background: none; /* Fundo transparente para o botão */
}
.btn-excluir img {
    width: 24px; /* Tamanho uniforme para ícone */
}
.table tfoot th {
    background-color: #f8f9fa; /* Cor de fundo sutil para rodapé */
    font-weight: 700; /* Texto em negrito para rodapé */
    font-size: large;
}
.btn-limpar, .btn-pedido {
    font-weight: 500; /* Peso da fonte para botões */
    border-radius: 0.375rem; /* Bordas arredondadas para botões */
    padding: 0.5rem 1rem; /* Preenchimento para botões */
    font-size: 1rem; /* Tamanho da fonte para botões */
}
.btn-pedido, .btn-limpar {
    background-color: #ff6b6b; /* Cor de fundo para 'Finalizar Compra' */
    border-color: #ff6b6b; /* Cor da borda para 'Finalizar Compra' */
    color: #fff; /* Cor da fonte para botões */

}

.btn-limpar:hover, .btn-pedido:hover {
    opacity: 0.85; /* Transparência ao passar o mouse */
  }
#carrinho {
    font-family: Arial, sans-serif; /* Fonte mais padrão para melhor legibilidade */
    color: #333; /* Cor escura para o título */
    font-family: cursive;
    font-style: normal; /* Estilo de fonte normal */
    margin-bottom: 1rem; /* Espaçamento abaixo do cabeçalho */
}
.navbar-links a {
    color: #fff; /* Cor de fundo mais clara para contraste */
}
.navbar-links a:hover {
    background-color: #e91e63; /* Cor de fundo ao passar o mouse */
}
