
<div id="bannerCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./assets/banner1.jpg" class="d-block w-100" alt="Banner 1">
    </div>
    <div class="carousel-item">
      <img src="./assets/banner2.jpg" class="d-block w-100" alt="Banner 2">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#bannerCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#bannerCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<br>
<h3 *ngIf="lista.length<=0">
      LOJA EM CONSTRUCAO
 </h3>

<div class="row justify-content-center">
  <div *ngFor="let item of lista" class="card col-6 me-1 ms-1 mt-1 mb-1" style="width:300px">
    <div>
      <img class="card-img-top" src="./assets/{{item.codigo}}.webp" width="46px" alt="Card image">
    </div>
    <div class="card-body">
      <div>
      <h4 class="card-title">{{item.nome}}</h4>
      <p class="card-text-desc">{{item.descritivo}}</p>
      </div>
    <div class="price-add-container">
      <p class="card-text"><b>R$ {{item.valor}}</b></p>
      <div>
        <button type="button" class="btn btn-adicionar" (click)="abrirModalTamanho(item)">
        <img src="./assets/adicionar_item.png" style="width: 25px">
        </button>
      </div>
    </div>
    </div>
    </div>
</div>
<br>

  <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': exibirModal}" style="display: block;" *ngIf="exibirModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">
            <p>{{ mensagem }}<p>
            <p><b>O que você deseja fazer?</b><p> 
          </div>
          <button type="button" class="btn-close" aria-label="Close" (click)="exibirModal = false">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-6 text-start">
              <button type="button" class="btn btn-modal" (click)="exibirModal = false">
                Continuar comprando
              </button>
            </div>
            <div class="col-6 text-end">
              <button type="button" class="btn btn-modal" (click)="irCarrinho()">
                Ir para o carrinho
              </button>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': exibirModalCarrinho}" style="display: block;" *ngIf="exibirModalCarrinho">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Selecione o Tamanho</h5>
          <button type="button" class="btn-close" aria-label="Close" (click)="exibirModalCarrinho = false">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div *ngIf="produtoSelecionado">
            <div *ngFor="let tamanho of produtoSelecionado.tamanhoEstoque" class="form-check">
              <input class="form-check-input" type="radio" name="tamanho" [value]="tamanho.tamanho" [(ngModel)]="tamanhoEscolhido">
              <label class="form-check-label">
                <span class="tamanho-text"><b>{{ tamanho.tamanho }}</b></span> - <span class="estoque-text">{{ tamanho.estoque }} unidade(s)</span>
              </label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-modal" (click)="comprar(produtoSelecionado)">Adicionar ao Carrinho</button>
        </div>
      </div>
    </div>
  </div>
  


