
.body {
    background-color:rgb(230, 230, 230); /* #bdbcba;*/
    position: relative;
}
.navbar-links {
    background-color:#b3a7a7;
    padding: 8px 0; /* Adiciona um padding vertical para mais espaço */
    margin-bottom: 20px; /* Espaço entre a navegação e o conteúdo abaixo */
    width: auto;
}
.navbar-links a {
    font-family: cursive; /* Fonte do Google Fonts */
    font-size: 18px; /* Tamanho da fonte maior */
    color: #ffffff; /* Cor da fonte mais escura para melhor leitura */
    padding: 8px 12px; /* Padding interno para tornar cada link maior */
    border-radius: 4px; /* Bordas arredondadas nos links para efeito de botão */
    text-decoration: none;
}
.navbar-links a:hover {
    color:  #292929; /* Cor do texto ao passar o mouse */
    background-color:#f8b9b9; /* Cor de fundo ao passar o mouse */

}
.btn-whatsapp {
    font-family: cursive;
    color: #000000;
    padding: 8px 12px;
    border-width: 2px;
    border-radius: 4px;
    text-decoration: none;
}
.btn-whatsapp:hover {
    background-color: #1ebe41; /* Cor de fundo ao passar o mouse */
    border-color: #27be19; /* Cor da borda ao passar o mouse */
}
#Atendimento{
    font-family: cursive;
    color: #bd4975;
    font-style:oblique;
}
#horario{
    font-family:monospace;
    color: #000000;
    font-style:italic;
    margin-top: 0.25rem; 
    margin-bottom: 0.25rem;
}
#email a{
    color: #000000;
    margin-top: 0.25rem;
    text-decoration: none;
}
#email a:hover{
    color: #bd4975;
}
#Siga{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #bd4975;
    font-style:oblique;
}
